{#
/**
 * @file
 * Custom proposal form page template.
 */
#}
{{ attach_library('core_neighborhood/proposal_form') }}
<div class="form-container">
  <div class="form-control">
    {{form['custommer_reference']}}
    <a href="/node/add/custommer" target="_blank">>>Crear cliente</a>
  </div>

  
</div>
